extends ../layout
include ../mixins/week

block content
  h2 
    span Reports
    div.dropdown.pull-right
      button.btn.btn-default.dropdown-toggle(type="button" id="reportSelect" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
        span Select Report    
        span.caret
      ul.dropdown-menu(aria-labelledby="reportSelect")
        li
          a Hours by Project
        li
          a(href="/reports/person") Hours By Person
  hr
  div.container
    div.content
      block report

    
    