footer
  .container.text-center
    ul.pull-right.list-inline
      li
        a(href='https://github.com/amida-tech/ration') GitHub
      li |
      li
        a(href='https://github.com/amida-tech/ration/issues') Issues
