/**
  IMPORTANT  IMPORTANT  IMPORTANT  IMPORTANT  IMPORTANT  IMPORTANT  IMPORTANT

  1. You should never commit this file to a public repository on GitHub.

  2. All public code on GitHub can be searched, that means anyone can see your uploaded .env file.

  3. I did it for convenience using "throw away" API keys so that all features could work out of the box.

  4. Use API keys below for local development, but create a separate set of API keys for production use.

  5. All hosting providers (e.g. Heroku, OpenShift, Azure, Bluemix) allow you to configure environment variables.

  6. Rename this file to `.env` and update `dotenv.load` path in `app.js`.

  IMPORTANT  IMPORTANT  IMPORTANT  IMPORTANT  IMPORTANT  IMPORTANT  IMPORTANT
 */

MONGODB=mongodb://localhost:27017/test
MONGOLAB_URI=mongodb://localhost:27017/test

SESSION_SECRET=Your Session Secret goes here

GOOGLE_ID=828110519058.apps.googleusercontent.com
GOOGLE_SECRET=JdZsIaWhUFIchmC1a_IZzOHb
GOOGLE_DOMAIN=my-company.com
GOOGLE_CALLBACK=/auth/google/callback