extends ../reports.pug

block report
    each u in hours
        h3= u.name
        table.table.table-hover
          thead
            tr
              th.col-md-3 Person
              each week in u.data
                +formatWeek(week.week)
          tbody
            each person in u.people
              tr
                td.col-md-3= person.userProfile.name || person.userEmail || person.userId
                each week in u.data
                  - var found = false
                  each item in week.entries
                    if item.userId == person.userId
                      - found = true
                      td.col-md-2= item.hours
                  - if (!found)
                    td.col-md-2= 0
            tr
              td.col-md-3
                strong Total
              each week in u.data
                td.col-md-2
                  strong= week.entries.reduce(function(total, person) { return total + person.hours; }, 0)