extends ../layout

block content
  h2 Hours Dashboard
  hr
  
  div.container
    div.content
      
      h3 Jon
      table.table.table-striped
        thead
          tr
            th Project
            th Hours per week
    
        tbody
          tr
            td DRE
            td 20
          tr
            td Orange
            td 20
            
      h3 Jacob
      table.table.table-striped
        thead
          tr
            th Project
            th Hours per week
    
        tbody
          tr
            td Medecision
            td 40