extends ../layout

block content
  h2 My Hours
  hr
  div.container
    div.content
      table.table.table-bordered#my_hours_table
        thead
          tr
            th Project
            th Hours per week
        tbody
          if hours
            if hours.projects
              each project in hours.projects
                tr
                  td
                    input(type="text" class="form-control" value=project.name)
                  td
                    input(type="text" class="form-control" value=project.hours)
              tr
                td
                  input(type="text" class="form-control")
                td
                  input(type="text" class="form-control")
    
      a.btn.btn-default.pull-left#add_row Add Row
      a.btn.btn-success.pull-right#post_hours Submit