extends ../layout

block content
  h2 Users
  hr
  div.container
    div.content
      table.table.table-bordered#projects_table
        //thead
        //  tr
        //    th(colspan="3") User Management
        tbody
          if users
              each user in users
                tr
                  td.col
                    if user.profile.picture
                      img(src=user.profile.picture)
                    else
                      img(src=user.gravatar(60))
                  td.col-md-10
                    h4 #{user.profile.name || user.email || user.id}
                  td.col
                    button.btn.btn-block.btn-info(type='submit')
                      i.fa.fa-cog
                      | Make Admin
                    button.btn.btn-block.btn-danger(type='submit')
                      i.fa.fa-trash
                      | Remove User